version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: theplatform
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: theplatform_dev
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
      - ./db/seed.sql:/docker-entrypoint-initdb.d/seed.sql:ro
    ports:
      - "5433:5432"
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
volumes:
  db-data:
